{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}


{% block body %}

    <h1><p class="text-center">Nos produit phare </p></h1>

    <div class="w-100 p-4" style="background-color: #eee;"></div>

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle d-block mx-auto" src="{{ asset('assets/images/logo-syhard.png') }}"   alt="Generic placeholder image" width="140" height="140"  >
                <h2><p class="text-center">Produit </p> </h2>
                <p>Description</p>
                <div class="text-center"><p><a class="btn btn-dark" href="#" role="button">Voir en détails &rarr;</a></p></div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle d-block mx-auto" src="{{ asset('assets/images/logo-syhard.png') }}" alt="Generic placeholder image" width="140" height="140">
                <h2><p class="text-center">Produit </p> </h2>
                <p>Description</p>
                <div class="text-center"> <p><a class="btn btn-dark" href="#" role="button">Voir en détails &rarr;</a></p></div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle d-block mx-auto" src="{{ asset('assets/images/logo-syhard.png') }}" alt="Generic placeholder image" width="140" height="140">
                <h2><p class="text-center">Produit </p> </h2>
                <p>Description</p>
                <div class="text-center"><p><a class="btn btn-dark" href="#" role="button">Voir en détails &rarr;</a></p></div>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->



{% endblock %}