{% extends 'base.html.twig' %}

{% block body %}
    <!-- intro -->
    <section class="pt-3">
        <div class="container">
            <div class="row gx-3">
                <main class="col-lg-9">
                    <div class="card-banner p-5 bg-primary rounded-5" style="height: 350px;">
                        <div style="max-width: 500px;">
                            <h2 class="text-white">
                                Nouvelle collection Syhard !<br />
                                <strong>En exclusivité</strong>
                            </h2>
                            <p class="text-white">T-shirt, tasses, coques pour téléphone, accessoires et bien plus encore! Venez découvrir notre collection</p>
                            <a href="#" class="btn btn-light shadow-0 text-primary">Découvrir la collection</a>
                        </div>
                    </div>
                </main>
                <aside class="col-lg-3">
                    <div class="card-banner h-100 rounded-5" style="background-color: #f87217;">
                        <div class="card-body text-center pb-5">
                            <h5 class="pt-5 text-white">Carte Cadeau Syhard Store</h5>
                            <p class="text-white">Offrez autour de vous pour faire plaisir. C'est le cadeau parfait !</p>
                            <a href="#" class="btn btn-outline-light"> Voir nos cartes cadeaux </a>
                        </div>
                    </div>
                </aside>
            </div>
            <!-- row //end -->
        </div>
        <!-- container end.// -->
    </section>
    <!-- intro -->

    <!-- category -->
    <section>
        <div class="container pt-5">
            <nav class="row gy-4">
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        {% for categorie in categories %}
                            {% if categorie.parent != null %}
                                <div class="col-3">
                                    <a href="{{ path('categories_list', {slug: categorie.slug}) }}" class="text-center d-flex flex-column justify-content-center">
                                        <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                                            <i class="{{ categorie.icon }} fa-xl fa-fw"></i>
                                        </button>
                                        <div class="text-dark">{{ categorie.name }}</div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <!-- category -->
{% endblock %}

{% block title %}
Accueil
{% endblock %}

