{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Liste des produits de la catégories {{ categories.name }}</h1>
        </div>


{% endblock %}