<h1>Activez mon compte</h1>
<p>Bonjour {{ user.firstname }},</p>
<p>Votre inscription n'est pas encore validée. En cliquant sur le lien ci-dessous.</p>
<p><a href="{{ absolute_url(path('verify_user', {token: token})) }}">Activer mon compte</a></p>
<p>Ce lien expire dans 3 heures.</p>