<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Acceuil{% endblock %} - SyhardStore</title>
        <!-- Feuilles de styles -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
            <!-- Font Awesome -->
            <link
                    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
                    rel="stylesheet"
            />
            <!-- Google Fonts -->
            <link
                    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
                    rel="stylesheet"
            />
            <!-- MDB -->
            <link
                    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
                    rel="stylesheet"
            />
        {% endblock %}
        <!-- Fin des feuilles de styles -->
    </head>
    <body>
    {% include "_partials/_nav.html.twig" %}
    {% if app.user and app.user.isVerified == false %}
        <div class="container-fluid p-5">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                    <strong>Votre compte n'est pas encore vérifié. </strong><a href="{{ path('renvoie_verif') }}">Renvoyer le mail de vérification</a>
                </div>
            </div>
        </div>

    {% endif %}

    {% include "_partials/_flash.html.twig" %}

    {% block body %}{% endblock %}
    {% include "_partials/footer.html.twig" %}
    </body>
    <!-- Fichiers JS -->
    {% block javascripts %}
        <script src="{{ asset('assets/js/script.js') }}" defer></script>
        <!-- MDB -->
        <script
                type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
        ></script>
    {% endblock %}
    <!-- Fin des fichiers JS -->
</html>
